/* permet de dire a tous les éléments de la page de se contenir pour éviter des débordement d'élements */
*{
    overflow: auto;
}

body{
    background-color: #8BA1BB;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

div.contenu{
    background-color: white;
    margin: 60px 10% 80px 10%;
    padding: 0px 30px 30px 30px;
    min-width: 350px;
    /* Rajouter un effet d'ombre sur tous les bords */
    box-shadow: 0px 0px 15px 12px rgba(0, 0, 0, 0.1);
    overflow: visible;
}

h1{
    text-align: center;
    margin-bottom: 12px;
    margin-top: 10px;
}

p.description{
    text-align: center;
    max-width: 400px;
    display: inline-block;
    font-size: 14px;
}

.centre{
    text-align: center;
    width: 100%;
}

p.categorie{
    background-color: black;
    color: white;
    display: inline-block;
    /*margin-left: 30px;*/
    margin-top: -15px;
    padding: 8px 18px;
    margin-bottom: 0;
    font-weight: bold;
    font-size: 16px;
}

div.categorie{
    margin-bottom: 0px;
    margin-top: 0px;
    /* Défini coment gérer le dépassement du contenu d'un élément */
    overflow: visible;
}

div.separateur{
    background-color: black;
    height: 1px;
    width: 100px;
    margin-left: auto;
    margin-right: auto;
}

table.info{
    position: absolute;
    bottom: 0;
    /* Largeur de 100% */
    width: 100%;
    color: white;
    background-color: #6C829DC0;
    height: 80px;
    /*display: inline-block;*/
}

table.info td{
    text-align: center;
    font-size: 14px;
    vertical-align: top;
}

table.info th{
    font-size: 16px;
    vertical-align: bottom;
    /* Gestion de la marge en bas à l'intérieur de la zone th */
    padding-bottom: 8px;
}

div.info{
    position: relative;
}

img.info{
    display: block;
    /* Hauteur max de l'image 400px */
    max-height: 400px;
    /* Gestion de l'image en fit */
    object-fit: cover;
    /* Hauteur minimale de 200px */
    min-height: 200px;
    /* Ajout d'un fond d'écran */
    background-color: lightgray;
}

div.colonne{
    width: 45%;
    margin-top: 20px;
}

/* Ici, on s'occuppe des h2 des div de clase colonne */
div.colonne h2{
    /* Centrer le texte */
    text-align: center;
    /* Transforme le texte en majuscule */
    text-transform: uppercase;
    /* Gère la taille du texte */
    font-size: 15px;
    /* Rajoute une bordure en dessous de couleur noir */
    border-bottom: 5px solid #6C829D;
    /* Permet d'avoir une marge interne */
    padding-bottom: 5px;
}

div.colonne1{
    display: inline-block;
    margin-right: 10%;
}

div.colonne2{
    float: right;
}

div.bordure p{
    text-align: center;
    font-size: 14px;
    border: 1px solid lightgray;
    padding: 8px 0;
    margin-top: 4px;
    margin-bottom: 0;
}

table.preparation p.numero{
    background-color: #6C829D;
    color: white;
    width: 25px;
    height: 25px;
    text-align: center;
    font-size: 14px;
    font-weight: bold;
    padding-top: 4px;
    /* permet de garder les proprtion de 25px */
    box-sizing: border-box;
    /* permet d'arrondir les bords */
    border-radius: 50%;
    margin: 0;
}

table.preparation td{
    vertical-align: top;
}

table.preparation td.preparation_etape{
    font-size: 14px;
    padding-left: 10px;
    padding-bottom: 10px;
}

/* permet d'attribuer un minimum pour les lignes tr */
table.preparation tr{
    height: 40px;
}

/* permet de dire a tous les éléments de la page de se contenir pour éviter des débordement d'élements */
*{
    overflow: auto;
}
